.Bio {
    padding: 30px 50px;
    height: 400px;
    display: flex;
    background-position: center; 
    background-image: url(./bkgBio.jpg);    
}

.minhaFoto {
    width: 30%;
}

.Bio > p {
    margin: 7% 10%;
    width: 50%;
    
}

.container {
    display: flex;
    justify-content: space-between;
}

.container  > p {
    width: 60%;
}
