.Header {
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(./bkgHeader.jpg);
    background-position: center;
}

.titulo {
    font-size: 100px;
    margin: 0px;
}

.subtitulo {
    font-size: 30px;
    margin: 0px;
}