.vertical-timeline-element-content {
  width: 45% !important;
}

.timeline-container {
  padding: 0px 0px;
}

@media only screen and (min-width: 1170px) {
    .vertical-timeline.vertical-timeline--two-columns {
      margin-top: 0px;
      margin-bottom: 0px;
    }
  
}
  

   