.rodape {
    background-color: #edcbe6;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.listaIcones {
    width: 50%;
    display: flex;
    justify-content: space-around;    
}

.icone {
    padding: 10px;
}